.contact-main-content {
    display: flex;
    flex-direction: column; 
    align-items: center; /* Centers content horizontally */
    margin: 20px auto; /* Center the container horizontally */
    max-width: 1265px; /* Sets a maximum container width */
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculation */
    max-height: 100vh; /* Ensures it takes up full viewport height */
    background-color: rgb(67, 67, 67);
    border: none;
    border-radius: 50px;
}

.contact-form {
    display: flex; /* Aligns the fields in a row */
    gap: 20px; /* Space between input fields */
    justify-content: center; /* Centers fields horizontally */
    width: 100%; /* Ensures it doesn't exceed container width */
    flex-wrap: nowrap; /* Prevents wrapping of fields */
    
}

.form-group {
    flex: 1 1 20%; /* Each field takes about 20% of the container width */
    max-width: 320px; /* Limits width of each field for consistency */
}

.contact-textarea {
    width: 100%; /* Takes full width of the container */
    margin: 20px 0; /* Vertical margin */
}

.contact-textarea textarea {
    width: 100%; /* Full width within its container */
    min-height: 100px; /* Sets a minimum height for better visibility */
    box-sizing: border-box; /* Include padding in width calculation */
}

button {
    height: 40px;
    margin: 20px 0;
}

.dark-modal .modal-content {
    background-color: rgb(68, 68, 68);
    color: white;
}

.dark-modal .modal-header, .dark-modal .modal-footer {
    border: none; /* Remove border for a cleaner look */
}

.dark-modal .btn-secondary {
    background-color: #0471f6;
    border: none;
    color: white;
}

.dark-modal .btn-secondary:hover {
    background-color: #0156be;
}

h3{
    margin-bottom: 20px;
    color: white;
}
