.main-content{
    display: flex;
    flex-direction: column; 
    align-items: center; /* Centers content horizontally */
    margin: 20px auto; /* Center the container horizontally */
    max-width: 1900px; /* Sets a maximum container width */
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculation */
    max-height: 100vh; /* Ensures it takes up full viewport height */
    background-color: rgb(67, 67, 67);
    border: none;
    border-radius: 50px;
}
h1{
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 5rem;
}

h4{
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

p{
    font-size: 1rem; /* Adjust this value as needed */
    color: white;
    margin-right: 30px;
  }